# Python cache
__pycache__/
*.py[cod]
*.pyo

# Build / packaging
build/
dist/
wheels/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Data files (nếu KHÔNG muốn commit dữ liệu)
*.csv
*.json

# OS / Editor
.DS_Store
.vscode/
.idea/
*.log